Django
django-celery-beat
djangorestframework
django-cors-headers
drf-spectacular
django-redis
channels[daphne]
python-dotenv
django-timescaledb
channels_redis
redis

paho-mqtt
loguru
getmac
numpy
